<%- include('partials/header'); -%>



<div class="home-container">

  <div class="head-title">
    <h1 class="title">Welcome to Posting-it</h1>
  </div>



  <div class="start-content container-fluid">
    <h2><strong>Lorem ipsum dolor</strong></h2>
      <p class= "head-paragraph">Morbi nec metus. Phasellus blandit leo ut odio. Maecenas ullamcorper, dui et placerat feugiat, eros pede varius nisi, condimentum viverra felis nunc et lorem.
        Sed magna purus, fermentum eu, tincidunt eu, varius ut, felis. In auctor lobortis lacus.</p>
  </div>



  <img src="/images/writingCat.png" class="cat-img">






    <div class="btn-1 btn-home">

      <a href="/auth/login"><span>Log In</span></a>

  </div>

  <div class="btn-1 btn-home">

    <a href="/auth/signup"><span>Sign Up</span></a>

  </div>


</div>



<%- include('partials/footer'); -%>
