<%- include('partials/header'); -%>


<div class="text-center">
  <h1 class="oopsTextH1">Oops! Something went wrong... <img class="sadpng" src="images/sad.png"></h1>





  <p class="oopsTextP">Please try again:</p>


</div>


<form  class="form-signin" method="POST">

  <div class="btn-1 try-again-btn" >
    <a href="/"><span>Try again</span></a>
  </div>

</form>






<%- include('partials/footer'); -%>
